.row1{
	/*border: 1px solid red;*/
	margin-left: 150px;
	margin-right: 150px;
}

.tab{
	margin-left: 150px;
	margin-right: 150px;
}

.tab1{
	margin-left: 150px;
	margin-right: 150px;
/*	background-color: 050505;*/
}

.tab2{
	margin-left: 135px;
	margin-right: 55px;
}

