<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
	
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url"
			value="jdbc:mysql://localhost:3306/c1_parknshop">
		</property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="username" value="bitranger"></property>
		<property name="password" value="123456"></property>
	</bean>
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
			<value>com.bitranger.parknshop.common.model.PsItemInfo</value>			
			<value>com.bitranger.parknshop.common.model.PsTag</value>
			<value>com.bitranger.parknshop.common.model.PsComment</value>
			<value>com.bitranger.parknshop.common.model.PsAdministator</value>						
			<value>com.bitranger.parknshop.common.model.PsCategory</value>
			<value>com.bitranger.parknshop.common.model.PsItem</value>
			<value>com.bitranger.parknshop.common.model.ROrderItem</value>
			<value>com.bitranger.parknshop.common.model.ROrderItemId</value>
			
			<value>com.bitranger.parknshop.seller.model.PsRecipient</value>
			<value>com.bitranger.parknshop.seller.model.PsOrder</value>
			<value>com.bitranger.parknshop.seller.model.PsShop</value>
			<value>com.bitranger.parknshop.seller.model.PsSeller</value>
			
			<value>com.bitranger.parknshop.buyer.model.PsCustomer</value>
			<value>com.bitranger.parknshop.buyer.model.CartCustomerItemId</value>
			<value>com.bitranger.parknshop.buyer.model.CartCustomerItem</value>			

			<value>com.bitranger.parknshop.common.ads.PsAdItem</value>
			<value>com.bitranger.parknshop.common.ads.PsItemPromotInfo</value>
			<value>com.bitranger.parknshop.common.ads.PsPromotItem</value>
			<value>temp.PsNoticeCustomer</value>
			<value>temp.PsRecipient</value>
			<value>temp.PsItemPromotInfo</value>
			<value>temp.PsAdItem</value>
			<value>temp.PsComment</value>
			<value>temp.CartCustomerItem</value>
			<value>temp.PsTag</value>
			<value>temp.PsPromotItem</value>
			<value>temp.ROrderItem</value>
			<value>temp.PsSeller</value>
			<value>temp.PsShop</value>
			<value>temp.CustomerFavouriteShop</value>
			<value>temp.PsAdministator</value>
			<value>temp.PsCustomer</value>
			<value>temp.PsNoticeAdmin</value>
			<value>temp.PsConfigVal</value>
			<value>temp.PsKeyValue</value>
			<value>temp.PsConfigKey</value>
			<value>temp.PsItem</value>
			<value>temp.PsCustomerAcc</value>
			<value>temp.PsOrder</value>
			<value>temp.PsSellerAcc</value>
			<value>temp.PsItemInfo</value>
			<value>temp.PsAdminAcc</value>
			<value>temp.PsNoticeSeller</value>
			<value>temp.PsCategory</value>
			<value>temp.CustomerFavouriteItem</value></list>
		</property>
	</bean>
		
	<bean id="psItemService" class="com.bitranger.parknshop.common.service.impl.PsItemService">
		<property name="psItemDAO" ref="psItemDao"></property>
	</bean>
	
	<bean id="psTagDao" class="com.bitranger.parknshop.common.dao.impl.PsTagDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="psCategoryDao" class="com.bitranger.parknshop.common.dao.impl.PsCategoryDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="psItemDao" class="com.bitranger.parknshop.common.dao.impl.PsItemDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean name="psCustomerDao" class="com.bitranger.parknshop.buyer.dao.impl.PsCustomerDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean name="psCartCustomerItemDao" class="com.bitranger.parknshop.buyer.dao.impl.CartCustomerItemDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="psTagDAO" class="com.bitranger.parknshop.common.dao.impl.PsTagDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="psSellerDAO" class="com.bitranger.parknshop.seller.dao.impl.PsSellerDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="psShopDAO" class="com.bitranger.parknshop.seller.dao.impl.PsShopDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="psCategoryDAO" class="com.bitranger.parknshop.common.dao.impl.PsCategoryDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="psItemDAO" class="com.bitranger.parknshop.common.dao.impl.PsItemDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="psAdItemDAO" class="com.bitranger.parknshop.common.ads.PsAdItemDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="psItemPromotInfoDAO" class="com.bitranger.parknshop.common.ads.PsItemPromotInfoDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>	
	<bean id="psPromotItemDAO" class="com.bitranger.parknshop.common.ads.PsPromotItemDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="adCenter" class="com.bitranger.parknshop.common.service.ads.AdCenter">
		<property name="itemAdService">
			<bean class="com.bitranger.parknshop.common.service.ads.ItemAdService">
				<property name="psAdItemDAO" ref="psAdItemDAO"></property>
			</bean>
		</property>
	</bean>

	<bean id="psSellerDao" class="com.bitranger.parknshop.seller.dao.impl.PsSellerDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="psOrderDao" class="com.bitranger.parknshop.seller.dao.impl.PsOrderDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="itemFinder" class="com.bitranger.parknshop.common.dao.ItemFinder">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="itemFinderService" class="com.bitranger.parknshop.common.service.ItemFinderService">
		<property name="itemFinder" ref="itemFinder"></property>
	</bean>
	
	<bean id="psItemInfoDAO" class="com.bitranger.parknshop.common.dao.impl.PsItemInfoDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="PsNoticeCustomerDAO" class="temp.PsNoticeCustomerDAO"></bean>
	<bean id="PsRecipientDAO" class="temp.PsRecipientDAO"></bean>
	<bean id="PsItemPromotInfoDAO" class="temp.PsItemPromotInfoDAO"></bean>
	<bean id="PsAdItemDAO" class="temp.PsAdItemDAO"></bean>
	<bean id="PsCommentDAO" class="temp.PsCommentDAO"></bean>
	<bean id="CartCustomerItemDAO" class="temp.CartCustomerItemDAO"></bean>
	<bean id="PsTagDAO" class="temp.PsTagDAO"></bean>
	<bean id="PsPromotItemDAO" class="temp.PsPromotItemDAO"></bean>
	<bean id="ROrderItemDAO" class="temp.ROrderItemDAO"></bean>
	<bean id="PsSellerDAO" class="temp.PsSellerDAO"></bean>
	<bean id="PsShopDAO" class="temp.PsShopDAO"></bean>
	<bean id="CustomerFavouriteShopDAO"
		class="temp.CustomerFavouriteShopDAO">
	</bean>
	<bean id="PsAdministatorDAO" class="temp.PsAdministatorDAO"></bean>
	<bean id="PsCustomerDAO" class="temp.PsCustomerDAO"></bean>
	<bean id="PsNoticeAdminDAO" class="temp.PsNoticeAdminDAO"></bean>
	<bean id="PsConfigValDAO" class="temp.PsConfigValDAO"></bean>
	<bean id="PsKeyValueDAO" class="temp.PsKeyValueDAO"></bean>
	<bean id="PsConfigKeyDAO" class="temp.PsConfigKeyDAO"></bean>
	<bean id="PsItemDAO" class="temp.PsItemDAO"></bean>
	<bean id="PsCustomerAccDAO" class="temp.PsCustomerAccDAO"></bean>
	<bean id="PsOrderDAO" class="temp.PsOrderDAO"></bean>
	<bean id="PsSellerAccDAO" class="temp.PsSellerAccDAO"></bean>
	<bean id="PsItemInfoDAO" class="temp.PsItemInfoDAO"></bean>
	<bean id="PsAdminAccDAO" class="temp.PsAdminAccDAO"></bean>
	<bean id="PsNoticeSellerDAO" class="temp.PsNoticeSellerDAO"></bean>
	<bean id="PsCategoryDAO" class="temp.PsCategoryDAO"></bean>
	<bean id="CustomerFavouriteItemDAO"
		class="temp.CustomerFavouriteItemDAO">
	</bean></beans>